body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background: url(../Vistas/Imagenes/fondobeige.jpg);
    color: white;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: min-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    border-right: 1px solid white;
}

.sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
}

.table-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.table-links a {
    padding: 15px;
    background-color: #333;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    font-weight: bold;
}

.table-links a:hover {
    background-color: #444;
    transform: translateY(-5px);
}

.logout-btn {
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.logout-btn button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.logout-btn button:hover {
    background-color: #666;
    transform: translateY(-5px);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.regresar {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
}

.regresar:hover {
    color: white;
}

.container-edit {
    width: 80%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label, input, select {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #444;
}